:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border-color: 2px solid #2bc5cd ;
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1 fr);
    gap: 1%;
    margin: 20px;
    background-color: var(--primary-color);
    object-position: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header {
    background-color: var(--blue-color);
    border: var(--border-color);
    grid-row: 1 / 3;
    grid-column: 1;
    color: var(--primary-color);
    padding: 10%;
}

main{
    background-color: var(--primary-color);
    border: var(--border-color);
    color: var(--blue-color);
    font-size: 20px;
    align-content: center;
    justify-content: center;
    padding: 10%;
}

header > p{
    padding-top: 300px;
}

footer{
    border: var(--border-color);
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: var(--orange-color);
    color: var(--primary-color);
}

h3{
    padding: 2% 0 0 2%;
}

footer > p {
    padding: 5% 0 0 2%
}

button {
   width: 150px;
   height: 50px;
   margin: 2%;
}